<h2>tag-editor template</h2>


<md-whiteframe id="tag-editor-container" class="md-whiteframe-2dp" layout="column">
    <md-subheader class="md-no-sticky" layout layout-align="center center">Tag Editor</md-subheader>

      <md-input-container>
        <label>Search</label>
        <input ng-model="$ctrl.searchTerm" type="text">
      </md-input-container>

      <md-input-container>
        <label>Add New</label>
        <input ng-model="$ctrl.newTag" ng-keyup="$event.keyCode == 13 ? $ctrl.addNewTag() : null" type="text">
      </md-input-container>

    <div class="list-holder">
        <md-list flex="100">
            <md-list-item
              ng-click="false"
              ng-repeat="tag in $ctrl.tags | filter:{name:$ctrl.searchTerm}">
                <div class="md-list-item-text" flex="90">{{ tag.name }}</div>
                <md-icon
                  ng-click="$ctrl.deleteTag(id)"
                  class="remove-icon" md-svg-src="./assets/ic_remove_circle_black_24px.svg" ng-mouseenter="delhovering = true" ng-mouseleave="delhovering = false" ng-class="{'hover-delete':delhovering}"></md-icon>
            </md-list-item>
        </md-list>
      </div>

</md-whiteframe>

<md-button class="md-raised" ng-click="reset()">Reset</md-button>
